*.pyc
backend/cruds/__pycache__/crud_veiculo.cpython-312.pyc
backend/cruds/__pycache__/crud_usuario.cpython-312.pyc
backend/cruds/__pycache__/crud_local.cpython-312.pyc
backend/cruds/__pycache__/crud_endereco.cpython-312.pyc
backend/cruds/__pycache__/crud_aluguel.cpython-312.pyc
backend/classes/__pycache__/classe_veiculo.cpython-312.pyc
backend/classes/__pycache__/classe_usuario.cpython-312.pyc
backend/classes/__pycache__/classe_local.cpython-312.pyc
backend/classes/__pycache__/classe_endereco.cpython-312.pyc
backend/classes/__pycache__/classe_calendario.cpython-312.pyc
backend/classes/__pycache__/classe_aluguel.cpython-312.pyc
backend/app.db-journal
backend/__pycache__/utils.cpython-312.pyc
backend/__pycache__/popular_bd.cpython-312.pyc
backend/__pycache__/main.cpython-312.pyc
backend/__pycache__/database.cpython-312.pyc
backend/__pycache__/basemodels.cpython-312.pyc
backend/__pycache__/auth.cpython-312.pyc
